form{
    width: 70%;
    min-width: 600px;
    padding: 25px 50px;
    background-repeat:repeat;
    background: linear-gradient(
        rgba(205, 215, 225, 0.979),
        rgba(201, 220, 237, 0.39)
    ),url("img/patita.jpg");
}


label{
    position: relative;
    margin: 30px auto 0 auto;
}

body{
    background-repeat: repeat;
    background: linear-gradient( to top,
    rgba(207, 217, 223, 0.582),
    rgba(226, 235, 240, 0.678)
        ),url("./img/patas2.jpg");
}
span{
    display: block;
    color: rgb(165, 0, 0);
    font-size:15px;
    padding-top: 5px;
    padding-left: 5px;
}